// Tela configurada no meio
.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../../assets/BGPrincipal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// efeito glass
.boxConteudo {
  width: 60vw;
  height: 80%;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 50, 0.75);
  border-radius: 20px;
}

.boxConteudo .titulo {
  width: 100%;
  height: 10vh;
  color: #fff;
}

.titulo {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 2.2em;
}

.titulo {
  color: #fff;
}

.boxConteudo h3 {
  text-align: start;
  color: #fff;
}

.container .boxForm {
  width: 70%;
  height: 100px;
  margin: 15px auto;
}

.inputPrincipal1 {
  padding-right: 70px;
}

.inputPrincipal1,
.inputPrincipal {
  height: 60px;
  gap: 20px;

  align-items: center;
  display: flex;

  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.15);
}

.inputPrincipal input,
.inputPrincipal1 input {
  width: 100%;
  outline: none;
  font-size: 16px;

  color: none;
  border: none;
  color: #fff;
  background-color: transparent;
}

.inputPrincipal input::placeholder,
.inputPrincipal1 input::placeholder {
  width: 80%;
  color: #fff;
}
i {
  width: 10%;
  font-size: 17px;

  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}
.inputPrincipal .olhoSenha {
  width: 10%;

  align-items: center;
  justify-content: start;

  display: none;
}

.inputPrincipal .olhoSemSenha {
  width: 10%;

  align-items: center;
  justify-content: start;

  display: block;
}

.boxConteudo .boxLembrar {
  width: 95%;
  height: 50px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
}

.boxConteudo .boxLembrar a {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

.boxConteudo .Concluir {
  height: 36%;
  width: 100%;
}

.Concluir ul {
  width: 100%;
  height: 100%;
}

.Concluir li {
  height: 40%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Concluir li button {
  border-radius: 10px;
  width: 100%;
  height: 100%;

  text-align: center;
  display: block;
  cursor: pointer;

  border: solid 2px rgba(255, 255, 255, 0.15);
  color: #fff;
}

ul li .entrar {
  height: 85%;
  width: 28vw;
  font-size: 2em;
  background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
}

ul li .criar {
  width: 24vw;
  height: 80%;
  font-size: 2em;
  background-color: transparent;
}

ul li .criar .link {
  width: 100%;
  color: #fff;
}

// Animação para os botões
.entrar,
.criar {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  // Define a cor do texto para branco e o peso da fonte para 600
  color: white;
  font-weight: 600;

  // animação de fundo
  &::before {
    content: "";
    position: absolute;
    top: 0;
    // efeito da esquerda pra direita
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    transition: all 0.5s ease;
  }

  &:hover::before {
    left: 100%;
  }

  // efeito de clique
  &:active {
    transform: scale(0.96);
    box-shadow: 0 0 12px #aa00ff;
  }

  // sombra ao redor do botão
  &:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }
}
