// Tela configurada no meio
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/BGPrincipal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// efeito glass
.boxConteudo {
  width: 800px;
  height: 590px;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 50, 0.75);
  border-radius: 20px;
}

.boxConteudo .titulo {
  width: 100%;
  height: 10vh;
  color: #fff;
}
.titulo {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 2.2em;
}

.titulo {
  color: #fff;
}

.boxConteudo h3 {
  text-align: start;
  color: #fff;
}

.container .boxForm {
  width: 70%;
  height: 100px;
  margin: 15px auto;
}

.inputPrincipal1 {
  padding-right: 70px;
}

.inputPrincipal1,
.inputPrincipal {
  height: 60px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  gap: 20px;
  border: solid 2px rgba(255, 255, 255, 0.15);
}

.inputPrincipal input,
.inputPrincipal1 input {
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: none;
  border: none;
  color: #fff;
}

.inputPrincipal input::placeholder,
.inputPrincipal1 input::placeholder {
  width: 80%;
  color: #fff;
}
i {
  text-align: right;
  width: 10%;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}
.inputPrincipal .olhoSenha {
  width: 10%;
  align-items: center;
  justify-content: start;
  display: none;
}

.inputPrincipal .olhoSemSenha {
  width: 10%;
  align-items: center;
  justify-content: start;
  display: block;
}

.boxConteudo .boxLembrar {
  margin: 15px;
  text-align: center;
}

.boxConteudo .boxLembrar a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 20px;
}

.boxConteudo .Concluir {
  height: 14vh;
  width: 100%;
}

.Concluir ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Concluir li {
  margin-bottom: 10px;
  height: 100px;
  width: 400px;
}
.Concluir li button {
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.15);
  width: 100%;
  color: #fff;

  text-align: center;
  display: block;
  cursor: pointer;
}

ul li .entrar {
  font-size: 2em;

  background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
}

ul li .criar {
  background-color: transparent;
  font-size: 2em;
  width: 100%;
  height: 100%;
}

ul li .criar .link {
  color: #fff;
  width: 100%;
  height: 100%;
}

// animação de carregamento
