.BoxConteudo {
  background-image: url(../../assets/BGPrincipal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #fff;
}

.formContainer .btnSair {
  background-color: transparent;
}
